/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/CSS3";

@import "partials/_variables.scss";
@import "partials/_mixins.scss";

@import "components/_main.scss";
@import "components/_header.scss";
@import "components/_footer.scss";

@import "components/_snap.scss";
@import "components/_console.scss";