<div class="container-fluid">
    <div class="row">
        <h1 class="col-xs-8">Sounddenly</h1>
        <div class="col-xs-4 header-options">
            <button type="button" class="btn btn-default btn-lg hidden-xs" snap-toggle="right">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg visible-xs" aria-label="Settings" snap-toggle="left">
                <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
            </button>
        </div>

        <div class="navbar navbar-default col-sm-12 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="navbar-collapse collapse navbar-responsive-collapse">
                            <form class="navbar-form navbar-left">
                                <button type="button" class="btn btn-default" aria-label="Settings" snap-toggle="left">
                                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Sound settings
                                </button>
                                <div class="form-group">
                                    <div class="input-group">
                                        <!-- To add / upload a sample from its own computer. Need a server.
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                        </span> -->
                                        <input class="form-control file-browse {{color}}" type="text" placeholder="Enter audio file source" data-snap-ignore="true"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default">
                                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>