<div class="row">
    <h1 class="col-xs-8">Sounddenly</h1>
    <div class="col-xs-4 header-options">
        <button type="button" class="btn btn-default btn-lg" snap-toggle="right">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
    </div>
    <div class="navbar navbar-default col-sm-12 hidden-xs">
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <div class="navbar-form navbar-left">
                <form class="form-group" name="browseAudio" ng-submit="loadAudio()">
                    <span hidden><input type="file" accept="audio/*" id="uploadFile" onchange="angular.element(this).scope().loadSong(this)"/></span>
                    <span class="btn btn-default" ng-click="triggerUploadClick()"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;Browse</span>
                    <div class="input-group">
                        <input class="form-control file-browse" type="text" placeholder="Enter audio url (stream or song)" ng-model="audio.source" data-snap-ignore="true" />
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
