<div snap-content snap-opt-disable="'left'" class="snap-content {{background}} {{color}}">
	<header ng-include src="'views/header.html'"></header>

	<div ng-include src="'views/mixer.html'"></div>

	<footer ng-include src="'views/footer.html'"></footer>
</div>

<div snap-drawer="right" class="snap-drawers--right container-fluid" ng-controller="AppSettingsCtrl as appSettings">
	<div class="row">
		<h2 class="col-sm-12">Settings</h2>
        <div class="form-group col-sm-12">
            <label>Background</label><br/>
		    <select class="form-control" ng-model="appSettings.backgroundColor" ng-options="backgroundColor for backgroundColor in appSettings.backgroundColors" ng-click="appSettings.update()"></select>
		</div>

        <div class="form-group col-sm-12">
            <label>Accent color</label><br/>
		    <select class="form-control" ng-model="appSettings.accentColor" ng-options="accentColor for accentColor in appSettings.accentColors" ng-click="appSettings.update()"></select>
		</div>
	</div>
</div>