<div class="row" ng-controller="PlayerCtrl as player">
	<div class="col-sm-12 player">
		<div class="row">
			<span class="col-xs-6 col-sm-3 col-md-2 player-controls" ng-class="{'active': loaded, 'playing': playing}" data-snap-ignore="true">
				<audio>
        			<source type="audio/ogg" src="sounds/Whitenoisesound.ogg"/>
        			<source type="audio/mpeg" src="sounds/loop.mp3"/>
					Your browser doesn't support <code>audio</code> element.
				</audio>
				<div class="player-controls-play">
					<!-- <span class="glyphicon glyphicon-backward control" aria-hidden="true"></span> -->
					<span class="glyphicon glyphicon-play control" aria-hidden="true" ng-click="player.play()"></span>
					<span class="glyphicon glyphicon-pause control" aria-hidden="true" ng-click="player.play()"></span>
					<!-- <span class="glyphicon glyphicon-forward control" aria-hidden="true"></span> -->
				</div>
				<div class="player-controls-volume">
					<span class="glyphicon glyphicon-volume-down control" aria-hidden="true" ng-click="player.lower()"></span>
					<slider class="player-volume control {{color}}" ng-model="volume" min="0" step="2" max="100"></slider>
					<span class="glyphicon glyphicon-volume-up control" aria-hidden="true" ng-click="player.higher()"></span>
				</div>
			</span>

			<span class="hidden-xs col-sm-6 col-md-8 player-progress">
				<input id="songSlider" data-slider-id='songSlider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.0001" data-slider-value="0"/>
			</span>

			<span class="col-xs-6 col-sm-3 col-md-2 player-timer">
				<div class="timer">
					<div class="timer-current">{{currentTime}}</div>
					<div class="timer-duration">{{durationTime}}</div>
				</div>
			</span>
		</div>
	</div>
</div>