header {

	.header-options {
		text-align: right;
	}

	.file-browse {
		width: 400px !important;
		background-color: $color-acc-turquoise;
		color: $color-bg-lg;
	}

	.file-upload--container {
		position: relative;

		input {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;

			opacity: 0;
			cursor: pointer;
		}
	}

	.checkbox label {
		padding-left: 12px !important;
		padding-right: 12px;
	}
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 30px !important;
	}
}

.turquoise header .file-browse {
	background-color: $color-acc-turquoise;
	color: $color-bg-lg;
}

.red header .file-browse {
	background-color: $color-acc-red;
}

.orange header .file-browse {
	background-color: $color-acc-orange;
}

.green header .file-browse {
	background-color: $color-acc-green;
}

.violet header .file-browse {
	background-color: $color-acc-violet;
}

.blue header .file-browse {
	background-color: $color-acc-blue;
}