header {

	.header-options {
		text-align: right;
	}

	.file-browse {
		width: 400px !important;
		background-color: $color-acc-turquoise;
		color: $color-bg-lg;
	}

	.file-browse.red {
		background-color: $color-acc-red;
	}

	.file-browse.orange {
		background-color: $color-acc-orange;
	}

	.file-browse.green {
		background-color: $color-acc-green;
	}

	.file-browse.violet {
		background-color: $color-acc-violet;
	}

	.file-browse.blue {
		background-color: $color-acc-blue;
	}
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 30px !important;
	}
}