html,
body {
    font: $font-size $font-stack !important;
    line-height: $line-height !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $color-bg-dk;
    color: $color-bg-lg;
}

h1 {
    font-family: sofiaregular, sans-serif !important;
}

a {
    color: $color-acc-turquoise;
}

.turquoise a {color: $color-acc-turquoise;}
.orange a {color: $color-acc-orange;}
.blue a {color: $color-acc-blue;}
.green a {color: $color-acc-green;}
.violet a {color: $color-acc-violet;}
.red a {color: $color-acc-red;}