html, body {
	font: $font-size $font-stack !important;
    line-height: $line-height !important;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: $color-bg-dk;
    color: $color-bg-lg;
}

h1 {
	font-family: sofiaregular, sans-serif !important;
}


/*    Slider
    -------------------------------------------------------------------------- */

slider {
    display: inline-block;
    position: relative;
    height: $pointer-size;
    margin: 10px 0;
    vertical-align: middle;

    span {
        white-space: nowrap;
        position: absolute;
        display: inline-block;
    }

    span.base {
        width: 100%;
        height: 100%;
        padding: 0
    }

    span.bar {
        width: 100%;
        height: 100%;
        z-index: 0;
        color: darken($color-bg-md, 15);
        -webkit-border-radius: 1em/1em;
        border-radius: 1em/1em;
        -webkit-box-shadow: inset 1px 1px 5px;
        box-shadow: inset 1px 1px 5px;
    }

    span.bar.selection {
        width: 0%;
        z-index: 1;
        background-color: $color-acc-turquoise;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    span.pointer {
        cursor: pointer;
        width: $pointer-size;
        height: $pointer-size;
        background-color: $color-acc-turquoise;
        border: 1px solid #000;
        z-index: 2;
        -webkit-border-radius: 1em/1em;
        border-radius: 1em/1em;
    }

    span.pointer:hover {
        background-color: lighten($color-acc-turquoise, 10);
    }

    span.pointer.active {
        background-color: lighten($color-acc-turquoise, 15);
    }

    span.bubble {
        cursor: default;
        top: -15px;
        padding: 1px 3px;
        font-size: .6em;
        font-family: sans-serif;
    }

    span.bubble.selection {
        top: 15px
    }

    span.bubble.limit {
        color: #808080
    }
}

slider.orange {
    span.pointer {background-color: $color-acc-orange;}
    span.pointer:hover {background-color: lighten($color-acc-orange, 10);}
    span.pointer.active {background-color: lighten($color-acc-orange, 15);}
}

slider.blue {
    span.pointer {background-color: $color-acc-blue;}
    span.pointer:hover {background-color: lighten($color-acc-blue, 10);}
    span.pointer.active {background-color: lighten($color-acc-blue, 15);}
}

slider.green {
    span.pointer {background-color: $color-acc-green;}
    span.pointer:hover {background-color: lighten($color-acc-green, 10);}
    span.pointer.active {background-color: lighten($color-acc-green, 15);}
}

slider.violet {
    span.pointer {background-color: $color-acc-violet;}
    span.pointer:hover {background-color: lighten($color-acc-violet, 10);}
    span.pointer.active {background-color: lighten($color-acc-violet, 15);}
}

slider.red {
    span.pointer {background-color: $color-acc-red;}
    span.pointer:hover {background-color: lighten($color-acc-red, 10);}
    span.pointer.active {background-color: lighten($color-acc-red, 15);}
}