.mixer-tool {
	margin-bottom: 12px;
	background-color: $color-bg-md;
	color: $color-bg-lg;
}

.player {

	.player-controls {
		padding: 12px 0;
		text-align: center;

		.player-controls-play {
			font-size: 25px;

			.control {
				padding: 6px;

				vertical-align: middle;

				cursor: not-allowed;
				opacity: 0.5;
			}

			.glyphicon-play, .glyphicon-pause {
				padding: 0.3em;
				font-size: 1.7em;

				border: solid 2px $color-bg-lg;
				@include border-radius(2em);
			}

			.glyphicon-pause {
				display: none;
			}
		}

		.player-controls-volume {
			font-size: 18px;

			.control {
				padding-top: 6px;
				vertical-align: middle;

				cursor: pointer;
				opacity: 0.5;
			}
		}
	}


	.player-controls.active .player-controls-play, .player-controls.active .player-controls-volume {
		.control {
			cursor: pointer;
			opacity: 1;

			@include transition(opacity .25s);
		}

		.glyphicon-play {
			display: none;
		}

		.glyphicon-pause {
			display: inline-block;
		}

	}

	.player-progress {

	}

	.player-timer {

	}
}