.snap-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 100%;

	background-color: $color-bg-dk;
	background-image: -svg(linear-gradient(120deg, $color-bg-dk, darken($color-acc-turquoise, 15), $color-bg-dk));

	z-index: 2;
}

.snap-content.light {
	background-color: $color-bg-lg;
	background-image: -svg(linear-gradient(60deg, lighten($color-acc-turquoise, 35), $color-bg-lg, lighten($color-acc-turquoise, 35)));

    color: $color-bg-dk;
}

.snap-content.light.red {
	background-image: -svg(linear-gradient(60deg, lighten($color-acc-red, 35), $color-bg-lg, lighten($color-acc-red, 35)));
}
.snap-content.light.orange {
	background-image: -svg(linear-gradient(60deg, lighten($color-acc-orange, 35), $color-bg-lg, lighten($color-acc-orange, 35)));
}
.snap-content.light.green {
	background-image: -svg(linear-gradient(60deg, lighten($color-acc-green, 35), $color-bg-lg, lighten($color-acc-green, 35)));
}
.snap-content.light.violet {
	background-image: -svg(linear-gradient(60deg, lighten($color-acc-violet, 35), $color-bg-lg, lighten($color-acc-violet, 35)));
}
.snap-content.light.blue {
	background-image: -svg(linear-gradient(60deg, lighten($color-acc-blue, 35), $color-bg-lg, lighten($color-acc-blue, 35)));
}

.snap-content.dark.red {
	background-image: -svg(linear-gradient(120deg, $color-bg-dk, darken($color-acc-red, 15), $color-bg-dk));
}
.snap-content.dark.orange {
	background-image: -svg(linear-gradient(120deg, $color-bg-dk, darken($color-acc-orange, 15), $color-bg-dk));
}
.snap-content.dark.green {
	background-image: -svg(linear-gradient(120deg, $color-bg-dk, darken($color-acc-green, 15), $color-bg-dk));
}
.snap-content.dark.violet {
	background-image: -svg(linear-gradient(120deg, $color-bg-dk, darken($color-acc-violet, 20), $color-bg-dk));
}
.snap-content.dark.blue {
	background-image: -svg(linear-gradient(120deg, $color-bg-dk, darken($color-acc-blue, 15), $color-bg-dk));
}

.snap-drawers {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 1;

	.snap-drawers--left {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;

		width: 266px;

		z-index: 1;
	}

	.snap-drawers--right {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;

		width: 266px;

		z-index: 1;
	}
}