/*	Fonts
-------------------------------------------------------------------------- */

$font-stack: "Junction-rg", sans-serif;
$font-stack-bd: "Junction-bd", sans-serif;
$font-stack-lt: "Junction-lt", sans-serif;
$font-size: 100%;
$line-height: ($font-size * 10 / 6);


/*	Colors
-------------------------------------------------------------------------- */

$color-bg-dk: #0B0D0D;
$color-bg-md: #4e5d6c;
$color-bg-lg: #D9C4B8;
$color-acc-lg: #2DA69A;
$color-acc-dk: #208C81;