/*	Fonts
-------------------------------------------------------------------------- */

$font-stack: "Junction-rg", sans-serif;
$font-stack-bd: "Junction-bd", sans-serif;
$font-stack-lt: "Junction-lt", sans-serif;
$font-size: 100%;
$line-height: ($font-size * 10 / 6);


/*	Colors
-------------------------------------------------------------------------- */

$color-bg-dk: #0B0D0D;
$color-bg-md: #4e5d6c;
$color-bg-lg: #ecf0f1;

$color-acc-turquoise: #1abc9c;
$color-acc-orange: #d35400;
$color-acc-blue: #2980b9;
$color-acc-green: #27ae60;
$color-acc-violet: #8e44ad;
$color-acc-red: #c0392b;


/*	Slider
-------------------------------------------------------------------------- */

$pointer-size: 20px;